@charset "UTF-8";
/* CSS Document */


body {
	background-color: #fff;
	background-image: url("carbon_tile.png");
	background-attachment: fixed;
	font-family: Arial, Helvetica, sans-serif;
}
p {
	font-size: 14px;
	line-height: 20px;
	font-family: Verdana, Geneva, sans-serif;
	padding: 30px;
	color: #000;
}
@font-face {
	font-family: fontin;
	src: url("fontin_b.otf");
}
a {
	color: #f00;
	text-decoration: none;
}
h1 {
	width: 960px;
	height: 275px;
	background-image: url("h1_v2.png");
	background-repeat: no-repeat;
	text-indent: -9999px;
}
h2 {
	color: #fff;
	font-family: fontin, times, serif;
	font-size: 22px;
	font-weight: bold;
	letter-spacing: 1.5px;
	background-color: #000;
	padding: 4px 0px 4px 30px;
	width: 930px;
	border-top: double 6px #fff;
	border-bottom: double 6px #fff;
	margin: 12px 0px;
	border-image: url(h2_border.png) 8 0 8 0 stretch stretch;
	-webkit-border-image: url(h2_border.png) 8 0 8 0 stretch stretch;
	-moz-border-image: url(h2_border.png) 8 0 8 0 stretch stretch;
}
h3 {
	font-size: 16px;
	padding: 5px 30px;
}
table {
	width: 98%;
	float: left;
	margin: 35px 0px 35px 0px;
}
td {
	border: solid 1px #CCCCCC;
	color: #4d4d4d;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	padding: 10px 20px 10px 20px;
	text-align: center;
}
hr {
	clear: both;
	border: solid 1px #000;
}
#main_container {
	margin: 0px auto;
	background-image: url("shadow.png");
	background-position: center;
	background-repeat: repeat-y;
}
#content {
	width: 960px;
	margin: 0px auto;
	background-color: #fff;
}
#tab_container {
	width: 695px;
	position: absolute;
	top: 242px;
	border-top: solid 1px #000;
}
.tabs {
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 1.25px;
	text-decoration: none;
	color: #fff;
	background-color: #000;
	padding: 4px 15px 6px 15px;
	margin: 0px 16px 8px 0px;
	position: relative;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	float: right;
}
.back_to_top {
	color: #fff;
	padding: 15px 30px;
	font-size: 14px;
	line-height: normal;
	position: relative;
	top: -55px;
	float: right;
	cursor: hand;
	cursor: pointer;
}
.media_icons {
	float: left;
	padding: 15px 15px 30px 15px;
}
#copyright {
	text-align: right;
}
#smartlogic {
	vertical-align: bottom;
}








.color {
	background-color: #cef;
}
.popup {
	display: none;
	width: 300px;
	background-color: #CF9;
	border: solid 3px #6C6;
	padding: 10px 16px 16px 16px;
	position: absolute;
	margin-left: 250px;
	margin-top: -50px;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
}

